*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    background-image: url(407.jpg);
}
.form-register{
 width: 400px;
 background: white;
 padding: 30px;
 margin: auto;
 margin-top: 100px;
 border-radius: 10px;
 font-family: 'Calibri';
color: black;
box-shadow: 7px 13px 37px #1A1786;
}
.form-register h2{
font-size: 22px;
margin-bottom: 20px;
}  
.controls{
    width: 100%;
    padding: 9px;
    border-radius:;
    margin-bottom: 16px;
    border: 2px solid  #1A1786;
    font-family: 'calibri';
    font-size: 18px;
}  
.form-register .botons{
    width: 100%;
    background: #1A1786;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 7px;
}

    /*
 {
    font-size: 20px;
    font-family:'Popppins', sans-serif;
    background-color: rgba(115, 112, 112, 1) ;
}
 